 *{
    margin: 0;
    padding: 0;
}


body{
    background-color: black;
}


header {
    display: block;
    align-items: center;
    width: 100%;
    background-color: #653520;

}

.logo img {
    width: 4.5%;
    
}

nav a {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    font-size: 14px;
}

nav {
    padding: 5px;
}

nav b {
    color: #FFA62F;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;


}


nav a:hover {
    background-color: black;
    padding: 10px;
}



.contain .bcon{
     text-align: center;
     color: white;
     font-size: 25px;
     padding: 15px;
}

.contain .pcon{
    text-align: center;
    color: white;
}


.formbox{
    margin-left: 25%;
    width: 50%;
    border: solid #FFA62F;
    padding: 20px;
    border-radius: 20px;
    height: 80vh;
    background-color: whitesmoke;

}
form{
    margin-left: 10px;
}

.formbox b{
    color: black;
    
    
}


.formbox .name{
    width: 80%;
    height: 5vh;
}

#msgbox{
    width: 70%;
    height: 15vh;
}

.sumit{
    width: 100px;
    height: 7vh;
}




.bookonline{
    background-color: black;
}
.service h1{
    text-align: center;
    color: aliceblue;
    padding: 20px;
}

.servicecon1{
    display: flex;
    width: 100%;
}

.servicecon2{
    display: flex;
    width: 100%;
    background-color: black;
     margin-top: 5%;
}

.image{
    padding: px;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 50vh;
}

 .image img{
    width: 70%;
    height: 50vh;
    
}

.image2{
    height: 50vh;
    padding: 2px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.image2 img{
width: 70%;
height: 50vh;
margin-left: 20px;

}

.write{
background-color: white;
width: 50%;
display: flex;
justify-content: center;
align-items: center;
background-color: whitesmoke;


}
.text p{
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
}
.text{
    padding: 40px;
    background-color: #653520;
}

.pic{
    width: 50%;
    padding:  ;
}

.pic2{
    width: 50%;
}


    
.text button{
    margin-left: 50px;
    padding: 8px;
    background-color: black;
    color: aliceblue;
    margin-top: 2px;
    

}



footer {
    background-color: #653520;
    height: 27vh;
}

.mart b{
    color: #FFA62F;
}

.footerbox {
    display: flex;
    width: 100%;
}

.footerbox button {
    width: 100px;
    color: aliceblue;
}

.foot1 {
    display: flex;
    width: 50%;
}

.foot1 .mart {
    margin-left: 10px;
}


.foot2 {
    display: flex;
    width: 50%;
}

.foot2 .mart {
    margin-right: 50px;
    color: aliceblue;
    padding: 4px;
}
.mart{
    margin-right: 100px;
    
}

.mart p{
    padding: 5px;
    color: aliceblue;
}

.stay{
    margin-left: 50px;
    color: aliceblue;
}

.foot2 #emailbox {
    width: 100%;
    height: 4vh;
}
.footer3 p{
    text-align: center;
    color: aliceblue;
}

footer button{
    width: 80px;
    background-color: black;
    
}



@media screen and (max-width:768px){
            
    nav b {
    
    margin-right: 10px;
    margin-left: 20px;
    }

    .servicecon1{
        display: block;
        width: 
    }

    .servicecon2{
        display: block;
    }

    .pic{
        width: 100%;
    }

    .pic2{
        width: 100%;
    }

    .image img{
        width: 80%;
    }
    .write{
        width: 100%;
        padding: 5px;
    }
    
    .contain {
        width: 100%;
    }

    footer {
    height: 70vh;

    }

    .formbox{
        width: 100%;
        margin: 0;
        border-radius: 0px;
        padding: ;
    }

    .footerbox{
        display: block;
        padding: 5px;
        
    }

    .foot1{
        display: block;
    }

    .foot2{
        display: block;
        width: 100%;
    }
    .stay{
        margin: 0px;

    }

    .stay b{
        margin: 9px;
        padding: 1px;
    }
    .foot2 #emailbox{
        width: 60%;
    }
} 

@media only screen and (min-width: 600px) and (max-width: 1024px){
    .formbox{
        width: 60%;
       
    }
}