 *{
    margin: 0;
    padding: 0;
}


body{
    background-color: black;
}


header{
    width: 100%;
    background-color: #653520;
}
header a{
    padding: 2px;
    text-decoration: none;
    color: aliceblue;
    background-color: black;

}

nav b{
    color: #FFA62F;
    padding: 10px;
    margin-bottom: 10px;
}

.mart{
    margin-left: 40px;
}






.contain .bcon{
     text-align: center;
     color: peru;
     font-size: 25px;
}

.contain .pcon{
    text-align: center;
    color: peru;
}


.formbox{
    margin-left: 28%;
    width: 50%;
    border: solid peru;
    padding: 20px;
    border-radius: 20px;
    height: 80vh;

}
form{
    margin-left: 10px;
}

.formbox b{
    color: peru;
    
}


.formbox .name{
    width: 70%;
    height: 5vh;
}

#msgbox{
    
    height: 15vh;
}

.sumit{
    width: 100px;
    height: 7vh;
}




.bookonline{
    background-color: black;
}
.service h1{
    text-align: center;
    color: aliceblue;
    padding: 20px;
}

.servicecon1{
    display: flex;
    width: 100%;
}

.servicecon2{
    display: flex;
    width: 100%;
    background-color: black;
     margin-top: 5%;
}

.image{
    padding: px;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 50vh;
}

 .image img{
    width: 70%;
    height: 50vh;
    
}

.image2{
    height: 50vh;
    padding: 2px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.image2 img{
width: 70%;
height: 50vh;
margin-left: 20px;

}

.write{
background-color: white;
width: 50%;
display: flex;
justify-content: center;
align-items: center;


}
.text p{
    text-align: center;
    font-size: 20px;
}
.text{
    padding: 40px;
}

.pic{
    width: 50%;
    padding:  ;
}

.pic2{
    width: 50%;
}


    
button{
    margin-left: 50px;
    margin-top: 10px;
    padding: 10px;
}






    



footer {
    background-color: #653520;
    height: 27vh;
}

.mart b{
    color: #FFA62F;
}

.footerbox {
    display: flex;
    width: 100%;
}

.footerbox button {
    width: 100px;
    color: aliceblue;
}

.foot1 {
    display: flex;
    width: 50%;
}

.foot1 .mart {
    margin-left: 10px;
}


.foot2 {
    display: flex;
    width: 50%;
}

.foot2 .mart {
    margin-right: 50px;
    color: aliceblue;
}
.mart{
    margin-right: 100px;
    
}

.mart p{
    padding: 3px;
    color: aliceblue;
}

.stay{
    margin-left: 50px;
    color: aliceblue;
}

.foot2 #emailbox {
    width: 120%;
    height: 4vh;
}
.footer3 p{
    text-align: center;
    color: aliceblue;
}

footer button{
    width: 100px;
    background-color: black;
    
}
footer a{
    text-decoration: none;
    color: white;
    
}

@media screen and (max-width:768px){
    .contain {
        width: 100%;
    }
} 